.Analytics{

    width: 900px;
    margin: auto;

}

.Analytics img{

    width: 100%;

}
.Portfolio{

    width: 900px;
    margin: auto;

}

.Portfolio img{

    width: 100%;

}
.Transaction{

    width: 900px;
    margin: auto;

}

.Transaction img{

    width: 100%;

}