.HERO{

    background: transparent;

}

.HERO video {
    position: absolute;
    z-index: -1;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 30%;
}
